:root {
    --font-size: 8rem;
  }
@media (max-width: 990px) {
    :root {
      --font-size: 5rem;
    }
  }

  

@media (max-width: 700px) {
:root {
--font-size: 5rem;
}
}
@media (max-width: 574px) {
    :root {
    --font-size: 4rem;
    }
}

html .text-shadow {
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

}


.home-title {

    
    font-size: var(--font-size);
    
}

html .inner-columns {
    background-color:#926849;
}

html .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 56px);
    }
  
html .error-card {
align-items: center;
background-color: white !important;
}

.img-size {
width: 50%;
max-width: 500px;
}
.black-text{
    color: black !important;
}

html .margin-auto{
    margin:auto;
}