html .description-container {
   
    max-height: 100px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
  }

html .custom-card-body{
  font-size: 0.8rem;
}
html .small-font{
  font-size: 0.8rem + 0.1em;
}

html .overflow-item-list{
  overflow-x: scroll;
  overflow-y: hidden; 
}

.p-r-0 {
  padding-right: 0 !important;
  margin-right: 0.5em !important;
}

html .p-r-1 {
  padding-right: 1em !important;
}
html .m-r-min {
  margin-right: 0.3em !important;
}

html .order-count-container {
  border-color: var(--bs-primary) !important;
  
}
html .small {
  width: 1.25rem;
  /* height: 25; */
}
html .order-amount {
  /* min-width: 2rem;
  max-width: 3rem; */
  text-align: center; /* Center the quantity text horizontally */
  flex-grow: 1; /* Allows the quantity div to take up the remaining space */
  /* height: 25; */
}

.trash-icon{
  max-width: 2rem;
  max-height: 2rem;
  object-fit: fill;
}
.icon{
  max-width: 2rem;
  max-height: 2rem;
  object-fit: fill;
}